@media only screen and (max-width: 1200px) {
    .sidebar {
        flex-basis: 45rem;
      }
}
@media only screen and (max-width: 1000px) {
    .sidebar {
        flex-basis: 40rem;
        padding: 2rem 4rem 3rem 4rem;
      }
    
}
@media only screen and (max-width: 900px) {
    main{
        flex-direction: column;
        min-height: 100vh;
        height: inherit;
    }
    .sidebar {
        padding: 4rem 8rem 5rem 8rem;
      }
    .form {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #map{
        flex: auto;
        width: 100%;
    }
    #map,#chart{
        height: 50vh;
    }
    .form {
         grid-template-columns: 1fr 1fr; 
    }
    #timer.container{
        top: inherit;
        bottom: 15px;
        right: 5rem;
    }
    .timer-icon{
        left: 8rem;
      }
} 


@media only screen and (max-width: 600px) {
    .sidebar {
        padding: 3rem 4rem 4rem 4rem;
      }
    .no-data-available p{
        line-height: 5rem;
        font-size: 1.4rem;
    }
} 