:root {
    --color-brand--1: #ffb545;
    --color-brand--2: #00c46a;
  
    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: rgb(214, 222, 224);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

  body {
    font-family: 'Manrope', sans-serif;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
    background-color: #fff;
  }
  body.offline {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
  }
  main{
    height: 100vh;
    width: 100vw;
    overscroll-behavior-y: smooth;
    overflow-x: hidden;
    display: flex; 
  }
  body.offline main{
    display: none;
  }
  
  /* GENERAL */
  a:link,
  a:visited {
    color: var(--color-brand--1);
  }
  
  /* SIDEBAR */
  .sidebar {
    flex-basis: 65rem;
    background-color: var(--color-dark--1);
    padding: 3rem 5rem 4rem 5rem;
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    height: 5.2rem;
    align-self: center;
    margin-bottom: 4rem;
  }
  
  .workouts {
    list-style: none;
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .workouts.hidden{
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
  }
  
  .workouts::-webkit-scrollbar {
    width: 0;
  }
  
  .workout {
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 1.5rem 2.25rem;
    margin-bottom: 1.75rem;
    cursor: pointer;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem 1.5rem;
  }
  .workout--running {
    border-left: 5px solid var(--color-brand--2);
  }
  .workout--cycling {
    border-left: 5px solid var(--color-brand--1);
  }
  
  .workout__title {
    font-size: 1.7rem;
    font-weight: 600;
    grid-column: 1 / -1;
  }
  
  .workout__details {
    display: flex;
    align-items: baseline;
  }
  
  .workout__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
  }
  
  .workout__value {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  
  .workout__unit {
    font-size: 1.1rem;
    color: var(--color-light--1);
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .form {
    background-color: var(--color-dark--2);
    border-radius: 5px;
    padding: 2.5rem 4rem 7.5rem 2.5rem;
    margin-bottom: 1.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2.5rem;
    position: relative;;
    /* Match height and activity boxes */
    height: 9.25rem;
    transition: all 0.5s, transform 1ms;
  }
  
  .form.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
  }
  
  .form__row {
    display: flex;
    align-items: center;
  }
  
  .form__row--hidden {
    display: none;
  }
  
  .form__label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .form__input {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: var(--color-light--3);
    transition: all 0.2s;
  }
  
  .form__input:focus {
    outline: none;
    background-color: #fff;
  }
  
  .form__btn {
    display: none;
  }
  .form__cross{
    position: absolute;
    height: 10px;
    width: 10px;
    top: 0;
    right: 10px;
    padding: 10px 15px;
    cursor: pointer;
  }

  .no-data-available{
    list-style: none;
    height: 77vh;
    overflow-x: hidden;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .no-data-available p{
    line-height: 6rem;
    font-size: 1.7rem;
    text-align: center;
  }
  .no-data-available.hidden{
    display: none;
  }
  /* MAP */
  #map {
    flex: 1;
    width: 100%;
    background-color: var(--color-light--1);
  }
  
  /* Popup width is defined in JS using options */
  .leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 0.6rem;
  }
  
  .leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
  }
  
  .leaflet-popup .leaflet-popup-tip {
    background-color: var(--color-dark--1);
  }
  
  .running-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--2);
  }
  .cycling-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--1);
  }
  

/* offline css */
 
  .wrapper{
    display: none;
  } 
  body.offline  .wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  body.offline h1 {
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 1rem;
    text-shadow: 0 0 3px white;
  }
  body.offline h4 {
    color: #f1f1f1;
    font-family: arial;
    font-weight: 300;
    font-size: 16px;
    line-height: 10rem;
  }

  body.offline .button {
    display: block;
    margin: 20px 0 0;
    padding: 15px 30px;
    background: #22254C;
    color: white;
    font-family: arial;
    letter-spacing: 5px;
    border-radius: .4rem;
    text-decoration: none;
    box-shadow: 0 0 15px #22254C;
  }